/* MINI and MOBILE (LAYOUT) */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body.LAY___ #Body {
    #Showbox {
        .iphone {
            background-position: 0 0; // -97px -5px;
            left: $rem * -8.5; // -7px;
            top: $rem * -2.5; // -8px;

            .mini {
                left: $rem * 8.6; // 32px;
                top: $rem * 7.6; // 110px;
            }
        }
    }
    .iphone {
        background-image: url("../mobile/bezel.png");
        background-position: -97px -5px;
        height: 700px;
        left: -7px;
        position: relative;
        top: -8px;
        width: 600px;

        &.hover, &:hover {
            header.mini {
                z-index: 1;
            }
        }
        header.mini {
            border: 4px solid #eee;
            height: 452px;
            left: 32px;
            overflow: hidden;
            overflow-y: auto;
            top: 110px;
            width: 308px;
            z-index: -1;
        }
    }

    header.mini {
        background-color: #fcfcff;
        position: relative;

        a {
            width: 100%;
        }
        button.share {
            position: absolute;
            right: $hem;
            top: $hem;
        }
        .rube {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .portrait {
        margin-right: $rem;
    }
    .buttonys {
        padding: $rem 0;
    }
    .mast h1 {
        color: black;
        clear: none;
        line-height: 200%;
        text-indent: 48px;
        font-size: 1.3rem;
        font-weight: 500;
    }

}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
